.section {
    width: 100%;
    height: 800px;
    background-color: rgb(67, 34, 99);
}

.container {
    margin: auto;
    width: 55%;
    height: 700px;
    background-color: rgb(15, 11, 11);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 15px;
}

.d {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.d input {
    width: 93%;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 20px;
}

.d h4 {
    color: white;
}

.d p {
    color: white;
}

.container h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}


.inputBox {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

}

.input {
    text-align: center;
    color: white;
    display: flex;
    width: 40%;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}

.inputTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

}

.input h4 {
    font-size: 16px;
    text-align: start;
}

.input input {
    border-radius: 15px;
}

.container .emailInp {
    width: 100%;
}

.emailInp input {
    width: 97%;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 30px;
}

.emailInp h4 {
    color: white;
}

.container .words {
    width: 100%;
}

.words textarea {
    max-width: 97%;
    max-height: 50px;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 15px;
}

.words h4 {
    color: white;
}

.btn {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn button {
    width: 100%;
    background-color: darkred;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 18px;
}